# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.0.5'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [6]:
nums = pd.Series([120,1234,6378,130,2])
nums

0     120
1    1234
2    6378
3     130
4       2
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [7]:
nums.values

array([ 120, 1234, 6378,  130,    2], dtype=int64)

In [8]:
nums.index

RangeIndex(start=0, stop=5, step=1)

We can assign meaningful labels to the index, if they are available:

In [9]:
birds = pd.Series([120,1234,6378,130,2], 
    index=['Penguin','Eagle', 'Peacock', 'Parrot', 'Sparrow'])

birds

Penguin     120
Eagle      1234
Peacock    6378
Parrot      130
Sparrow       2
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [14]:
birds['Parrot']

130

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [15]:
birds[2]

6378

We can give both the array of values and the index meaningful labels themselves:

In [16]:
birds.name = 'bird_names'
birds.index.name = 'count'
birds

count
Penguin     120
Eagle      1234
Peacock    6378
Parrot      130
Sparrow       2
Name: bird_names, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [17]:
np.log(birds)

count
Penguin    4.787492
Eagle      7.118016
Peacock    8.760610
Parrot     4.867534
Sparrow    0.693147
Name: bird_names, dtype: float64

We can also filter according to the values in the `Series`:

In [19]:
birds[birds>5000]

count
Peacock    6378
Name: bird_names, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [20]:
birds_dict = {'Penguin': 120, 'Eagle': 1234, 'Peacock': 6378, 'Parrot': 130, 'Sparrow': 2}
print(birds_dict)
pd.Series(birds_dict)

{'Penguin': 120, 'Eagle': 1234, 'Peacock': 6378, 'Parrot': 130, 'Sparrow': 2}

Penguin     120
Eagle      1234
Peacock    6378
Parrot      130
Sparrow       2
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [105]:
data = {"Brand": ["Adidas", "Puma", "Levis", "Raymond", "W"],
        "Year": [2017, 2007, 2000, 1994, 2012],
        "Branches": [10, 8, 2, 20, 14],
       "Province": ['NH','US','ZH','GE','UK']}
print(data)
data = pd.DataFrame(data)
data

{'Brand': ['Adidas', 'Puma', 'Levis', 'Raymond', 'W'], 'Year': [2017, 2007, 2000, 1994, 2012], 'Branches': [10, 8, 2, 20, 14], 'Province': ['NH', 'US', 'ZH', 'GE', 'UK']}

     Brand  Year  Branches Province
0   Adidas  2017        10       NH
1     Puma  2007         8       US
2    Levis  2000         2       ZH
3  Raymond  1994        20       GE
4        W  2012        14       UK

To change the order of the columns:

In [110]:
df = pd.DataFrame(data, columns=["Year", "Brand" ,"Branches","Province"])
df

   Year    Brand  Branches Province
0  2017   Adidas        10       NH
1  2007     Puma         8       US
2  2000    Levis         2       ZH
3  1994  Raymond        20       GE
4  2012        W        14       UK

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [108]:
df['invalid'] = df.Year / df.Branches
df

   Year    Brand  Branches Province      invalid
0  2017   Adidas        10       NH   201.700000
1  2007     Puma         8       US   250.875000
2  2000    Levis         2       ZH  1000.000000
3  1994  Raymond        20       GE    99.700000
4  2012        W        14       UK   143.714286

In [109]:
df['Province'] = pd.Series(range(5), index=['FL','NH','ZH','AL','US'])
df

   Year    Brand  Branches  Province      invalid
0  2017   Adidas        10       NaN   201.700000
1  2007     Puma         8       NaN   250.875000
2  2000    Levis         2       NaN  1000.000000
3  1994  Raymond        20       NaN    99.700000
4  2012        W        14       NaN   143.714286

Passing a dicts where the values are dicts is also possible

In [95]:
df.to_dict()

{'Year': {0: 2017, 1: 2007, 2: 2000, 3: 1994, 4: 2012},
 'Brand': {0: 'Adidas', 1: 'Puma', 2: 'Levis', 3: 'Raymond', 4: 'W'},
 'Branches': {0: 10, 1: 8, 2: 2, 3: 20, 4: 14},
 'invalid': {0: 201.7, 1: 250.875, 2: 1000.0, 3: 99.7, 4: 143.71428571428572},
 'Aligned_series': {0: 0, 1: 1, 2: 3, 3: 4, 4: 2}}

In [96]:
pd.DataFrame(df.to_dict())

   Year    Brand  Branches      invalid  Aligned_series
0  2017   Adidas        10   201.700000               0
1  2007     Puma         8   250.875000               1
2  2000    Levis         2  1000.000000               3
3  1994  Raymond        20    99.700000               4
4  2012        W        14   143.714286               2

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [31]:
data = [{'a': i, 'b':6* i}for i in range(9)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 6}, {'a': 2, 'b': 12}, {'a': 3, 'b': 18}, {'a': 4, 'b': 24}, {'a': 5, 'b': 30}, {'a': 6, 'b': 36}, {'a': 7, 'b': 42}, {'a': 8, 'b': 48}]

   a   b
0  0   0
1  1   6
2  2  12
3  3  18
4  4  24
5  5  30
6  6  36
7  7  42
8  8  48

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [43]:
pd.DataFrame([{'aa':61, 'cc': 8}, {'bb': 7, 'cc': 9}])         #NaN-Not a Number

     aa  cc   bb
0  61.0   8  NaN
1   NaN   9  7.0

In [45]:
df=pd.DataFrame([{'aa':61, 'cc': 8}, {'bb': 7, 'cc': 9}])       
df=df.to_dict()
df

{'aa': {0: 61.0, 1: nan}, 'cc': {0: 8, 1: 9}, 'bb': {0: nan, 1: 7.0}}

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [50]:
pd.DataFrame(np.random.randint(4, 40),
             columns=['abc', 'xyz','def'],
             index=['p', 'q', 'r','s'])

   abc  xyz  def
p   14   14   14
q   14   14   14
r   14   14   14
s   14   14   14

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [52]:
r = pd.Index([3,4,2,6,7,1,7])
r

Int64Index([3, 4, 2, 6, 7, 1, 7], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [53]:
r[3]

6

In [54]:
r[::]

Int64Index([3, 4, 2, 6, 7, 1, 7], dtype='int64')

In [56]:
r[1:7:2]

Int64Index([4, 6, 1], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [58]:
print(r.size, r.shape, r.ndim, r.dtype)

7 (7,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [59]:
r[4] = 7

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [70]:
p = np.random.RandomState(5)
s = pd.Series(p.randint(0, 10, 7))
s

0    3
1    6
2    6
3    0
4    9
5    8
6    4
dtype: int32

In [74]:
r = pd.DataFrame(p.randint(0, 10, (5,4)),
                  columns=['A', 'B', 'C', 'D'])
r

   A  B  C  D
0  5  5  9  6
1  4  5  2  8
2  8  1  6  3
3  4  1  8  0
4  2  2  4  1

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [75]:
np.exp(s)

0      20.085537
1     403.428793
2     403.428793
3       1.000000
4    8103.083928
5    2980.957987
6      54.598150
dtype: float64

Or, for a slightly more complex calculation:

In [76]:
np.sin(r * np.pi / 4)

              A         B             C             D
0 -7.071068e-01 -0.707107  7.071068e-01 -1.000000e+00
1  1.224647e-16 -0.707107  1.000000e+00 -2.449294e-16
2 -2.449294e-16  0.707107 -1.000000e+00  7.071068e-01
3  1.224647e-16  0.707107 -2.449294e-16  0.000000e+00
4  1.000000e+00  1.000000  1.224647e-16  7.071068e-01

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [77]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area)
population

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [79]:
population / area                    #Anythin/nan=nan

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [80]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [81]:
area.index & population.index

Index(['Texas', 'California'], dtype='object')

In [82]:
P = pd.Series([1,2,3,4], index=[0, 1, 2,3])
Q = pd.Series([2,3,4,5], index=[1, 2, 3,4])
print(P)
print(Q)
Q
P + Q

0    1
1    2
2    3
3    4
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

0    NaN
1    4.0
2    6.0
3    8.0
4    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [83]:
P.add(Q, fill_value=0)

0    1.0
1    4.0
2    6.0
3    8.0
4    5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [111]:
df

   Year    Brand  Branches Province
0  2017   Adidas        10       NH
1  2007     Puma         8       US
2  2000    Levis         2       ZH
3  1994  Raymond        20       GE
4  2012        W        14       UK

In [118]:
df1 = pd.DataFrame({"Province": ["US", "NH", "ZH"], "Population": ["10000", "2000", "3000"]})
df1

  Province Population
0       US      10000
1       NH       2000
2       ZH       3000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [119]:
df.merge(df1)  # merge is smart! If there are overlapping names, it uses those for the merge

   Year   Brand  Branches Province Population
0  2017  Adidas        10       NH       2000
1  2007    Puma         8       US      10000
2  2000   Levis         2       ZH       3000

If the column names are different, you need to specify them explicitely

In [120]:
df2 = pd.DataFrame({"province": ["US", "NH"], "Population": ["100000", "200000"]})
df2
df.merge(df2, right_on='province', left_on='Province')

   Year   Brand  Branches Province province Population
0  2017  Adidas        10       NH       NH     200000
1  2007    Puma         8       US       US     100000

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [121]:
df3 = pd.DataFrame({"Province": ["US", "NH", "UK"], "Population": ["100000", "200000", "50000"]})
df.merge(df3, how='outer')

   Year    Brand  Branches Province Population
0  2017   Adidas        10       NH     200000
1  2007     Puma         8       US     100000
2  2000    Levis         2       ZH        NaN
3  1994  Raymond        20       GE        NaN
4  2012        W        14       UK      50000

Check this out:

In [122]:
df4 = pd.DataFrame({"Province": ["US", "NH", "US"], "Population": ["100000", "200000", "50000"]})
print(df)
df.merge(df4, how='outer')

   Year    Brand  Branches Province
0  2017   Adidas        10       NH
1  2007     Puma         8       US
2  2000    Levis         2       ZH
3  1994  Raymond        20       GE
4  2012        W        14       UK

   Year    Brand  Branches Province Population
0  2017   Adidas        10       NH     200000
1  2007     Puma         8       US     100000
2  2007     Puma         8       US      50000
3  2000    Levis         2       ZH        NaN
4  1994  Raymond        20       GE        NaN
5  2012        W        14       UK        NaN

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [126]:
serie_a = pd.Series([np.nan, 2, np.nan, 5, 1, np.nan,np.nan],
                     index=['a','c','t','y','o','f','w'])
serie_b = pd.Series(np.arange(len(serie_a), dtype=np.float64),
                 index=['a','c','t','y','o','f','w'])

In [127]:
serie_a

a    NaN
c    2.0
t    NaN
y    5.0
o    1.0
f    NaN
w    NaN
dtype: float64

In [128]:
serie_b

a    0.0
c    1.0
t    2.0
y    3.0
o    4.0
f    5.0
w    6.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [129]:
pd.Series(np.where(pd.isnull(serie_a), serie_b, serie_a), index=serie_a.index)

a    0.0
c    2.0
t    2.0
y    5.0
o    1.0
f    5.0
w    6.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [130]:
serie_a.combine_first(serie_b)

a    0.0
c    2.0
t    2.0
y    5.0
o    1.0
f    5.0
w    6.0
dtype: float64