# Session 2 - Strings and list objects

# Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

## Creating a String
In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

    For example:

In [2]:
# Single word
s = 'computer'
s

'computer'

In [3]:
# Entire phrase 
'Computer science and Engineering'

'Computer science and Engineering'

In [4]:
# We can also use double quote
"Computer science and Engineering with double quotes"

'Computer science and Engineering with double quotes'

In [8]:
# Be careful with quotes!
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-8-49dde7729f25>, line 2)

The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [11]:
"Now I'm ready to use the single('') quotes inside a string!"

"Now I'm ready to use the single('') quotes inside a string!"

Now let's learn about printing strings!

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [13]:
# We can simply declare a string
'Computer Science'

'Computer Science'

In [15]:
# note that we can't output multiple strings this way
'Welcome to'
'Computer world'

'Computer world'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

In [17]:
print 'Hello World'
print 'welcome to Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-17-42221194f2a9>, line 1)

### <font color='red'>Python 3 Alert!</font>

Note that, In Python 3, print is a function and not a statement. So you would print statements like this:
print('Hello World')

If you want to use this functionality in Python2, you can import form the __future__ module. 

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [18]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print 'Hello World'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-18-ccac5adbb6ce>, line 4)

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [19]:
len('Computer Science')

16

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [21]:
# Assign s as a string
str = 'Computer Science'
str

'Computer Science'

In [22]:
#Check
str

'Computer Science'

In [23]:
# Print the object
print(str)

Computer Science

Let's start indexing!

In [24]:
# Show first element (in this case a letter)
str[8]

' '

In [27]:
str[14]

'c'

In [26]:
s[17]

IndexError: string index out of range

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [29]:
# Grab everything past the first term all the way to the length of s which is len(s)
str[5:]

'ter Science'

In [30]:
# Note that there is no change to the original s
str

'Computer Science'

In [32]:
# Grab everything UP TO the 3rd index
str[:11]

'Computer Sc'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [35]:
#Everything
str[:]

'Computer Science'

We can also use negative indexing to go backwards.

In [41]:
# Last letter (one index behind 0 so it loops back around)
str[-16:]

'Computer Science'

In [42]:
str[-1:]

'e'

In [44]:
# Grab everything excluding last two letter
str[:-2]

'Computer Scien'

Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [45]:
# Grab everything, but go in steps size of 1
str[::1]

'Computer Science'

In [46]:
# Grab everything, but go in step sizes of 2
str[::2]

'Cmue cec'

In [48]:
# We can use this to print a string backwards
str[::-1]

'ecneicS retupmoC'

In [49]:
str[::-3]

'eeSepC'

|## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [50]:
str

'Computer Science'

In [51]:
# Let's try to change the first letter to 'P'
str[0] = 'P'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [75]:
str='Computer Science'

In [76]:
# Concatenate str
str+'concat'

'Computer Scienceconcat'

In [77]:
# We can reassign s completely though!
str = str + ' concatenate me!'

In [78]:
print(str)

Computer Science concatenate me!

In [79]:
str

'Computer Science concatenate me!'

We can use the multiplication symbol to create repetition!

In [71]:
letter = 'sush'

In [72]:
letter*8

'sushsushsushsushsushsushsushsush'

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [80]:
str

'Computer Science concatenate me!'

In [81]:
# Upper Case a string
str.upper()

'COMPUTER SCIENCE CONCATENATE ME!'

In [82]:
# Lower case
str.lower()

'computer science concatenate me!'

In [83]:
# Split a string by blank space (this is the default)
str.split()

['Computer', 'Science', 'concatenate', 'me!']

In [84]:
# Split by a specific element (doesn't include the element that was split on)
str.split('e')

['Comput', 'r Sci', 'nc', ' concat', 'nat', ' m', '!']

There are many more methods than the ones covered here. To know more about the String functions, Visit the advanced String section.

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [85]:
'Insert another string with curly brackets:{}'.format({'This is the inserted string'})

"Insert another string with curly brackets:{'This is the inserted string'}"

## Location and Counting

In [87]:
print(str)
str.count('c')

Computer Science concatenate me!

4

In [90]:
str.find('n')

13

##Formatting
The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [93]:
str.center(50,'s')

'sssssssssComputer Science concatenate me!sssssssss'

expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

In [94]:
#expand tabs separates the word where \t is present
'computer\tscience'.expandtabs()

'computer        science'

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [117]:
str = 'Computer'

isalnum() will return "True" if all characters in Str are alphanumeric.

In [118]:
str.isalnum()

True

isalpha() wil return "True" if all characters in S are alphabetic.

In [119]:
str.isalpha()

True

islower() will return "True" if all cased characters in S are lowercase and there is at least one cased character in Str, False otherwise.

In [126]:
str.islower()

False

isspace() will return "True" if all characters in S are whitespace.

In [127]:
str.isspace()

False

istitle() will return "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [128]:
str.istitle()

True

isupper() will return "True" if all cased characters in S are uppercase and there is
at least one cased character in S, False otherwise.

In [130]:
s='HELLO'
s.isupper()

True

Another method is endswith() which is essentially same as a boolean check on s[-1]

In [131]:
s.endswith('O')

True

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [134]:
str='computer science concatenate me!'
str.split('m')

['co', 'puter science concatenate ', 'e!']

In [136]:
str.partition('s')

('computer ', 's', 'cience concatenate me!')

In [137]:
str

'computer science concatenate me!'

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [140]:
# Assign a list to an variable named my_list
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

We just created a list of integers, but lists can actually hold different object types. For example:

In [143]:
my_list = ['string',28,14.00,'s','abc']
my_list

['string', 28, 14.0, 's', 'abc']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [144]:
len(my_list)

5

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [166]:
my_list = ['one','two','three',4,5]

In [167]:
# Grab element at index 2
my_list[2]

'three'

In [168]:
# Grab index 2 and everything past it
my_list[2:]

['three', 4, 5]

In [169]:
# Grab everything UP TO index 4
my_list[:4]

['one', 'two', 'three', 4]

We can also use "+" to concatenate lists, just like we did for Strings.

In [170]:
my_list + ['new item is six']

['one', 'two', 'three', 4, 5, 'new item is six']

Note: This doesn't actually change the original list!

In [171]:
my_list

['one', 'two', 'three', 4, 5]

In this case, you have to reassign the list to make the permanent change.

In [172]:
# Reassign
my_list = my_list + ['add new item six permanently']

In [174]:
my_list

['one', 'two', 'three', 4, 5, 'add new item six permanently']

We can also use the * for a duplication method similar to strings:

In [175]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item six permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item six permanently']

In [177]:
# Again doubling is not permanent,retains original string
my_list

['one', 'two', 'three', 4, 5, 'add new item six permanently']

## Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)
b. They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

In [184]:
# Create a new list
l = [1,2,3,4]

Use the **append** method to permanently add an item to the end of a list:

In [185]:
# Append
l.append('append 5')

In [186]:
# Show
l

[1, 2, 3, 4, 'append 5']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [187]:
# Pop off the 0 indexed item
l.pop()
l

[1, 2, 3, 4]

In [188]:
# Show
l

[1, 2, 3, 4]

In [189]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [191]:
popped_item

4

In [192]:
# Show remaining list
l

[1, 2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [195]:
l[10]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [196]:
new_list = ['a','b','c','d','e','f']

In [197]:
#Show
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [198]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [199]:
new_list

['f', 'e', 'd', 'c', 'b', 'a']

In [200]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [204]:
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [205]:
li=[1,2,5,3,7,4]
li

[1, 2, 5, 3, 7, 4]

In [206]:
li.reverse()
li

[4, 7, 3, 5, 2, 1]

In [208]:
# sorts in ascending order
li.sort()
li

[1, 2, 3, 4, 5, 7]

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [209]:
# Let's make two lists
li_1=[1,2,3]
li_2=[4,5,6]

# Make a list of lists to form a matrix
matrix = [li_1,li_2]

In [210]:
# Show
matrix

[[1, 2, 3], [4, 5, 6]]

We can re-use indexing to grab elements, but now there are two levels for the index. 

a. The items in the matrix object
b. The items inside the list

In [213]:
# Grab item with index 1 in matrix object
matrix[1]

[4, 5, 6]

In [221]:
# Grab item with index 1 and select item with index two from the matrix object
matrix[1][2]

6

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [226]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]
first_col

[1, 4]

In [228]:
first_col = [row[2] for row in matrix]
first_col

[3, 6]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [235]:
l = [1,2,3]

## append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [236]:
l.append(3)

l

[1, 2, 3, 3]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [237]:
l.count(10)

0

In [239]:
l.count(3)

2

## extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [241]:
x = [1, 2, 3]
x.append([4, 5,6])
print(x)

[1, 2, 3, [4, 5, 6]]

**extend: extends list by appending elements from the iterable**

In [250]:
x = [1, 2, 3]
x.extend([4, 5,6])
print(x)

[1, 2, 3, 4, 5, 6]

Note how extend append each element in that iterable. That is the key difference.

##index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [252]:
print(l) 
l.index(2)

[1, 2, 3, 3]

1

In [253]:
l.index(8)

ValueError: 8 is not in list

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [254]:
l

[1, 2, 3, 3]

In [255]:
# Place a fruit 'cherry' at the index 3
l.insert(3,'cherry')

In [256]:
l

[1, 2, 3, 'cherry', 3]

## pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [257]:
ele = l.pop()

In [258]:
l

[1, 2, 3, 'cherry']

In [259]:
ele

3

##remove
The remove() method removes the first occurrence of a value. For example:

In [260]:
l

[1, 2, 3, 'cherry']

In [263]:
l.remove(2)

In [264]:
l

[1, 3, 'cherry']

In [265]:
l = [1,3,4,'cherry',3]

In [266]:
l.remove(3)

In [267]:
l

[1, 4, 'cherry', 3]

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [268]:
l.reverse()

In [270]:
l

[3, 'cherry', 4, 1]

## sort
sort will sort your list in place:

In [271]:
l

[3, 'cherry', 4, 1]

# l.sort()

In [281]:
l.pop()

3

In [282]:
l

[1]

In [283]:
l.append(3)

In [284]:
l.append(2)
l

[1, 3, 2]

In [285]:
l.sort()
l

[1, 2, 3]

In [286]:
l.extend([7,5,8])
l

[1, 2, 3, 7, 5, 8]

In [287]:
l.sort()
l

[1, 2, 3, 5, 7, 8]